.orderSuccess {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.orderSuccess .icon {
  font-size: 7vmax;
  background-color: white;
  color: forestgreen;
}
.orderSuccess p {
  font-size: 2vmax;
}
.orderSuccess > a {
  background-color: forestgreen;
  color: white;
  border: none;
  padding: 1vmax 3vmax;
  cursor: pointer;
  font: 400 1vmax "Roboto";
  text-decoration: none;
  margin: 2vmax;
}
